body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.header {
    background-position: center;
    color: white;
    text-align: center;
    font-size: 25pt;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), black), url('images/donation7.jpg');
    width: 100%;
    background-repeat: no-repeat;
    padding: 5% 0%;
    background-position: center;
    margin-left: 0%;
    margin-bottom: 5%;

}

.header-paragraph {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20pt;
}

.link {
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20pt;
    border-color: #ff5959;
}

.donate-heading {
    font-size: 50px;
}

.donation-details {
    margin: 2% 10% 2% 10%;

}

.donate-section {
    text-align: center;
    margin-bottom: 5px;

}

.donation-amount {
    margin-left: 25%;
    margin-right: 20%;
    display: flex;
    text-align: center;
}

.money-amount {
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fafafa;
    color: #707070;
    padding: 40px;
}

.selected-amount {
    background-color: #ffeeee;
    color: #ff5959;
    padding: 40px;
    border-color: #ff5959;
    border-style: solid;
    border-radius: 5px;
}

.input-donation {
    text-align: center;
    margin-top: 5%;
}

.search-box {
    width: 40%;
    padding: 12px 20px;
    margin: 0% 5% 2%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #707070;
    text-align: center;
    font-size: 16pt;
}

.donate-plan {
    margin-top: 5%;
    text-align: center;
}

.donate-plan-heading {
    text-align: center;
    margin-bottom: 5px;
    font-size: 50px;

}

.forth-class {
    display: flex;
    margin: 5%;
    margin-bottom: 10%;
}

.forth-one {
    width: 33%;
    background-color: #4f9da6;
    color: black;
    padding: 5% 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.forth-two {
    width: 33%;
    background-color: #ff5959;
    color: black;
    padding: 5% 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.forth-three {
    width: 33%;
    background-color: #fff4d6;
    color: black;
    padding: 5% 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.live-depend {
    display: flex;
    margin: 5%;
}

.live-dep-par {
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.survive-image {
    width: 100%;
}

.survive {
    margin-left: 10%;
}

.get-updates {
    text-align: center;
}

.get-updates h1 {}

.email {
    display: flex;
    background-color: #fff4d6;
    padding: 5%;
    padding-left: 10%;
    padding-top: 6%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.email-input {
    background-color: #d9d9d9;
    color: #aa9f9f;
    border: 2px solid #d9d9d9;
    padding: 3% 5%;

}

.subscribe {
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    padding: 10px 10px 5px 10px;
    border-radius: 2px;
    font-size: 12pt;
    border-color: #ff5959;
    text-align: center;

}

.footer {
    background-color: #0b0d17;
    text-align: center;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 3%;


}

.footer-heading {
    color: #ff5959;

}

.footer-para {
    color: #fafafa;
}